/* aplicamos reset*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* color fondo de paginas*/
body{
    background-image: linear-gradient(to bottom, rgb(74, 166, 228), lightblue);
   
}




/* color fondo h1*/

.h1{
     font-size: 1.5rem;
}



/* color y estilo del menu*/

.menu{
    background-color: rgb(142, 205, 226);
    
    
    }

    header nav ul li:hover{
        background-color: cornflowerblue;
        transform: scale(0.9);
    box-shadow: 1px 1px 10px black;
    }   


.caja{
    background-color:rgb(235, 238, 241);
    position: sticky;
    padding: 2px;
    border: 2px solid rgb(109, 132, 233);
    display: inline-block;
    border-radius: 20px;
    font-weight: bold;
    }

    /*INDEX*/

    /* imagen oficina*/
.oficina{
        width: 100%;
        height: 300px;
    }

    /* h2 */

.subtitulo{
        margin: 20px 20px 20px 0px;
    }

.subtitulo2{
  /*  height: 100px;*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

     

/* vision mision y valores */

.padre{
    background-color: rgb(162, 206, 206);
    
    height: 200px;
    font-family:sans-serif;
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 0.5fr 1fr;
}

/* mediaqueries*/
@media screen and (max-width: 600px){
    .padre{
        height: 480px;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
        
}

/* mediaqueries*/
@media screen and (max-width: 940px){
    .padre{
        height: 480px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
           
}



.modo1{
        margin: 20px;
        color: rgb(19, 19, 82);
        font-family: Arial, Helvetica, sans-serif;
              
}

.modo3{
        margin: 20px;
        color: rgb(19, 19, 82);
        font-family: Arial, Helvetica, sans-serif;        
        
    } 
    
.modo2{
        margin: 20px;
        color: rgb(19, 19, 82);
        font-family: Arial, Helvetica, sans-serif;        
        
}

/* parrafos dentro de vision mision y valores*/

.parrafo1{
        background-color: rgb(209, 209, 209);
        height: 75px;
        width: 400px;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 5px;
        color: rgb(30, 5, 51);
        grid-area: parrafo1;
}

.parrafo2{
        background-color: rgb(209, 209, 209);
        height: 75px;
        width: 400px;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 5px;
        color: rgb(30, 5, 51);
        grid-area: parrafo2;
} 

.parrafo3{
    background-color: rgb(209, 209, 209);
    height: 75px;
    width: 300px;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    margin: 5px;
    color: rgb(30, 5, 51);
    grid-area: parrafo3;
}

    /* fotos y texto de auto, casa y comercio*/
.padre2{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 0.5fr 1fr;


    grid-template-areas: 
		    "foto1 foto2 foto3"
		    "parrafoSec1 parrafoSec2 parrafoSec3"
}

.hijo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* fotos del index */

.fotoUno{
        width: 150px;
        height: 100px;
        border-style: solid;
        margin-top: 3rem;
}

.fotoDos{
    width: 150px;
    height: 100px;
    border-style: solid;
    margin-top: 3rem;
}

.fotoTres{
    width: 150px;
    height: 100px;
    border-style: solid;
    margin-top: 3rem;
}
    
/* parrados dentro de las fotos de auto, casa y comercio*/

    .parrafoSec1{
        background-color: antiquewhite;
        padding: 10px;
        text-align: center;
        width: 300px;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(12, 4, 48);
        border-style: solid;
        margin-top: 5px;
    }

    .parrafoSec2{
        background-color: antiquewhite;
        padding: 10px;
        text-align: center;
        width: 300px;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(12, 4, 48);
        border-style: solid;
        margin-top: 5px;
    }

    .parrafoSec3{
        background-color: antiquewhite;
        padding: 10px;
        text-align: center;
        width: 300px;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(12, 4, 48);
        border-style: solid;
        margin-top: 5px;
}


/* mediaqueries*/
@media screen and (max-width: 600px){
    .padre2{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: repeat(auto);
        justify-content: center;
        justify-items: center;
        align-items: center;
        

        
        grid-template-areas: 
                    "fotoUno"
                    "parrafoSec1"
                    "fotoDos"
                    "parrafoSec2"
                    "fotoTres"
                    "parrafoSec3"
    }

    

    .parrafoSec1{
        margin-top: 1rem;
    }

    .parrafoSec2{
        margin-top: 1rem;
    }

    .parrafoSec3{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 940px){
    .padre2{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: repeat(auto);
        justify-content: center;
        justify-items: center;
        align-items: center;
   
        grid-template-areas: 
        "fotoUno"
        "parrafoSec1"
        "fotoDos"
        "parrafoSec2"
        "fotoTres"
        "parrafoSec3"
   
    }
    .parrafoSec1{
        margin-top: 1rem;
    }

    .parrafoSec2{
        margin-top: 1rem;
    }

    .parrafoSec3{
        margin-top: 1rem;
    }

}
/* color y centrado del footer*/
.derechos {
    text-align: center;
    font-size: 16px;
    }

    
/* PAGINA DE COMPAÑÍAS/*    

/* foto compañías de seguro*/
.aseguradora{
        height: 200px;
        width: 280px;
        margin: 20px;
        padding: 5px;
        
    }


/* h2 de compañia*/

    .compa{
        text-align: center;
        font-family:cursive
    }


/* PAGINA DE SEGUROS Y SINIESTROS*/

.SegSin{
	display: grid;
	grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;


    grid-template-areas: 
		    "fotoCuatro"
		    "parrafoTer1"
		    "fotoCinco"
		    "parrafoTer2"
		    "fotoSeis"
		    "parrafoTer3"
		    "fotoSiete"
		    "parrafoTer4"
		    "fotoOcho"
		    "parrafoTer5"
}


.fotoCuatro{
        width: 150px;
        height: 100px;
        border-style: solid;
        margin: 20px 20px 20px 70px;    
        box-shadow: 2px 8px 10px black;    
    }

.fotoCuatro:hover{
    transform: scale(1.1);
}

.fotoCinco{
        width: 150px;
        height: 100px;
        border-style: solid;
        margin: 20px 20px 20px 70px; 
        box-shadow: 2px 8px 10px black;       
    }

.fotoCinco:hover{
    transform: scale(1.1);
}

.fotoSeis{
        width: 150px;
        height: 100px;
        border-style: solid;
        margin: 20px 20px 20px 70px; 
        box-shadow: 2px 8px 10px black;       
    }

.fotoSeis:hover{
    transform: scale(1.1);
}

.fotoSiete{
        width: 150px;
        height: 100px;
        border-style: solid;
        margin: 20px 20px 20px 70px;
        box-shadow: 2px 8px 10px black;        
    }

.fotoSiete:hover{
    transform: scale(1.1);
}    

.fotoOcho{
        width: 150px;
        height: 100px;
        border-style: solid;
        margin: 20px 20px 20px 70px;
        box-shadow: 2px 8px 10px black;     
    }

    .fotoOcho:hover{
    transform: scale(1.1);
}


    .parrafoTer1{
        background-color: coral;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 20px;
        padding: 20px;
    }

.parrafoTer2{
        background-color: coral;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 20px;
        padding: 20px;
    }

.parrafoTer3{
        background-color: coral;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 20px;
        padding: 20px;
    }

.parrafoTer4{
        background-color: coral;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 20px;
        padding: 20px;
    }

.parrafoTer5{
        background-color: coral;
        text-align: center;
        border-style: solid;
        border-width: 1.5px;
        margin: 20px;
        padding: 20px;
    }

/* mediaqueries*/
@media screen and (max-width: 600px){
.SegSin{	
	justify-content: center;
        justify-items: center;
        align-items: center;
	}
}



/* parraro aclaratorio del formulario */
.dudas{
    margin: 20px 20px 20px 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


/* formulario */
.formulario{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: 20px;
    }

/* interior de formulario*/
.datos{
    padding: 5px;
    }


