// mixin con parametros 

@mixin medidas($width, $height) {
    width: $width ;
    height: $height;
}

// mixin sin parametros

@mixin box-model {
    width: 100%;
    max-width: 1200px;
    height: 530px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    grid-template-areas: "tarje1 tarje2 tarje3"
}