// mixin con parametros 

@mixin medidas($width, $height) {
    width: $width ;
    height: $height;
}

// mixin sin parametros

@mixin box-model {
    height: 500px;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "foto1 foto2 foto3"
 "parrafoSec1 parrafoSec2 parrafoSec3"; 
}